<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigation2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Question.QuizActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".Question.QuizResult" />
        <activity
            android:name=".Grammar.GrammarWord.GrammarTinhTu"
            android:label="Tính Từ"
            android:parentActivityName=".Exercise.Exercise" />
        <activity
            android:name=".Grammar.GrammarWord.GrammarGioTu"
            android:label="Giới Từ"
            android:parentActivityName=".Exercise.Exercise" />
        <activity
            android:name=".Grammar.GrammarWord.GrammarTrangTu"
            android:label="Trạng Từ"
            android:parentActivityName=".Exercise.Exercise" />
        <activity
            android:name=".Grammar.GrammarWord.GrammarDongTu"
            android:label="Động Từ"
            android:parentActivityName=".Exercise.Exercise" />
        <activity
            android:name=".Grammar.GrammarWord.GrammarDanhTu"
            android:label="Danh Từ"
            android:parentActivityName=".Exercise.Exercise" />
        <activity
            android:name=".Grammar.GrammarWord.GrammarBangBatQuyTac"
            android:label="Bảng Động Từ Bất Quy Tắc"
            android:parentActivityName=".Exercise.Exercise" />
        <activity
            android:name=".Grammar.GrammarSentence.GrammarMenhDeQuanHe"
            android:label="Mệnh Đề Quan Hệ"
            android:parentActivityName=".Grammar.Grammar" />
        <activity
            android:name=".Grammar.GrammarSentence.GrammarCauSoSanh"
            android:label="Câu So Sánh"
            android:parentActivityName=".Grammar.Grammar" />
        <activity
            android:name=".Grammar.GrammarSentence.GrammarCauDieuKien"
            android:label="Câu Điều Kiện"
            android:parentActivityName=".Grammar.Grammar" />
        <activity
            android:name=".Grammar.GrammarSentence.GrammarTrucTiepGianTiep"
            android:label="Câu Trực Tiếp,Gián Tiếp"
            android:parentActivityName=".Grammar.Grammar" />
        <activity
            android:name=".Grammar.GrammarSentence.GrammarCauUoc"
            android:label="Câu Ước"
            android:parentActivityName=".Grammar.Grammar" />
        <activity
            android:name=".Grammar.GrammarSentence.GrammarCauBiDong"
            android:label="Câu Bị Động"
            android:parentActivityName=".Grammar.Grammar" />
        <activity
            android:name=".Grammar.GrammarSentence.GrammarCacThi"
            android:label="Các Thì"
            android:parentActivityName=".Grammar.Grammar" />
        <activity
            android:name=".Exercise.Exercise"
            android:label="Exercise">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2" />
        </activity>
        <activity
            android:name=".Grammar.Grammar"
            android:label="Grammar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2" />
        </activity>
        <activity
            android:name=".Main2"
            android:label="AppEnglish" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>